@font-face {
    font-display: swap; 
    font-style: normal; 
    src: url("../public/fonts/GeoramaBold.ttf");
    font-family: "Georama"; 
    font-weight: 700;
}
@font-face {
    font-display: swap; 
    font-style: normal;
    src: url(" .•/public/fonts/RobotoRomanRegular.ttf");
    font-family: "Roboto"; 
    font-weight: 400;
}
@font-face {
    font-display: swap; 
    font-style: normal; 
    src: url("../public/fonts/RobotoRegular.ttf");
    font-family: "Roboto"; 
    font-weight: 400;
}
@font-face {
    font-display: swap; 
    font-style: normal; 
    src: ur1("../public/fonts/RobotoRomanMedium.ttf");
    font-family: "Roboto"; 
    font-weight: 500;
}
@font-face {
    font-display: swap; 
    font-style: normal; 
    src: url("../public/fonts/RobotoBlack.ttf");
    font-family: "Roboto";
    font-weight: 900;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url(" ../public/fonts/RocknRollOneRegular.ttf");
    font-family: "RocknRoll One";
    font-weight: 400;
}
@Font-face {
    font-display: swap; 
    font-style: normal;
    src: url("../public/fonts/RobotoMedium.ttf");
    font-family: "Roboto";
    font-weight: 500;
}
@font-face {
    font-display: swap; font-style: normal;
    src: url("../public/fonts/RobotoSemiBold.ttf");
    font-family: "Roboto";
    font-weight: 600;
}